/* --------------------------------------
=========================================

COLOR: ORANGE_BLACK

Main color: #39434C 

Deep color: #ffc001

Background color: background: rgba(37, 40, 49, 0.8) 

=========================================
----------------------------------------- */

.header-divider {
	background: #d1ac11;
}

.btn-active {
	background: #d1ac11;
    border: 2px solid #d1ac11;
}

.btn-active:hover, .btn-active:active, .btn-active:focus {
    background: #b49203;
    color: #fff;
    border: 2px solid #b49203;
}

.custom-hover:before {
	background: #fff;
}

.custom-hover:active, .custom-hover:focus, .custom-hover:hover {
    color: #313944;
    border: 2px solid #fff;
}

button.down-btn {
	background: #d1ac11;
	color: #fff;
}

button.down-btn:hover, button.down-btn:active, button.down-btn:focus {
    color: #fff;
    background: #b49203;
    border-color: none;
}


/* =========  Price Button Style  ========= */

.price-btn .custom-btn {
    border: 2px solid #d1ac11;
    color: #d1ac11;
}


.price-btn .custom-btn.custom-hover:before {
    background: #d1ac11;
}

.price-btn .custom-btn.custom-hover:active,
.price-btn .custom-btn.custom-hover:focus,
.price-btn .custom-btn.custom-hover:hover {
    color: #fff;
    border: 2px solid #d1ac11;
}


#contact-section .btn-active:hover, #price .btn-active:hover,
#contact-section .btn-active:active, #price .btn-active:active,
#contact-section .btn-active:focus, #price .btn-active:focus {
    background: #b49203;
    color: #fff;
    border: 2px solid #b49203;
    outline: none;
    outline-offset: 0;
    box-shadow: none;
}

/*-------------------------------------------------------
    NAVBAR SECTION
-------------------------------------------------------*/

.navbar-default .navbar-toggle .icon-bar {
    background-color: #d1ac11;
}

/* MENU HOVER */

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #d1ac11!important;
}

.navbar-default .navbar-nav>li>a:after {
    background-color: #d1ac11;
}

/*-------------------------------------------------------
    HERO SECTION
-------------------------------------------------------*/



/*-------------------------------------------------------
    CORE-PART SECTION
-------------------------------------------------------*/

.circle {
	border: 2px solid #b49203;
}

.circle-wrap:hover .circle {
    color: #fff;
    border: 2px solid transparent;
    box-shadow: inset 0px 0px 0px 53px #d1ac11;
     -webkit-box-shadow: inset 0px 0px 0px 53px #d1ac11;
     -moz-box-shadow: inset 0px 0px 0px 53px #d1ac11;    
}

/*-------------------------------------------------------
    ABOUT SECTION
-------------------------------------------------------*/


.icon-box {
	border: 1px solid #d1ac11;
	color: #d1ac11;
}

.features-item:hover .icon-box {
    color: #fff;
    box-shadow: inset 0px 0px 0px 40px #d1ac11;
    -webkit-box-shadow: inset 0px 0px 0px 40px #d1ac11;
    -moz-box-shadow: inset 0px 0px 0px 40px #d1ac11;
}

/*============================================= 
                 SCREENSHOTS 
=============================================*/

#screenshot .owl-theme .owl-controls .owl-page span {
	background: #d1ac11;
}

/*============================================= 
                 VIDEO 
=============================================*/

#video .video-overlay {
    background:rgba(176, 211, 255, .2);
}

#video:hover i {
    opacity: 1;
    border-color: #d1ac11;
    color: #d1ac11;
}

/*============================================= 
                 TESTIMONIALS 
=============================================*/

#testimonials .owl-theme .owl-controls .owl-page span {
    background: #d1ac11;
}

/*============================================= 
                 PRICE 
=============================================*/

.pricing-column .inner-box {
	border: 2px solid #435966;
}

.pricing-column .active .plan-header {
    background: #d1ac11;
}

.pricing-column .plan-header {
	background: #435966;
}

/*============================================= 
                 GET THE APP 
=============================================*/

#get-the-app .btn-active {
    background: #d1ac11;
    border: 2px solid #d1ac11;
} 


#get-the-app .btn-active:hover, #get-the-app .btn-active:active, #get-the-app .btn-active:focus {
    background: #fff;
    color: #d1ac11;
    border: 2px solid #fff;
}

.get-the-app-overlay {
    background: rgba(37, 40, 49, 0.8) ;
}


/*============================================= 
                 CONTACT
=============================================*/

.expanded-contact-form .input-box:focus,.textarea-box:focus {
    border-color: #d1ac11;
}
